.card {
  min-width: 240px;
  text-align: center;
  margin: auto;
  background-color: var(--card-background-color);
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s;
}
.cardHead {
  min-width: 240px;
}
.cardBody {
  min-width: 240px;
  height: 240px;
}
.cardBody p {
  opacity: 0.8;
}
@media (min-width: 768px) {
  .cardBody {
    min-width: 240px;
    height: 360px;
  }
}
