.card {
  width: 360px;
  text-align: center;
  margin: auto;
  background-color: var(--card-background-color);
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s;
}
.cardHead {
  margin: 0;
}
.cardBody {
}
.cardBody p {
  opacity: 0.8;
}
