.footer {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--card-background-color);
}
.footer p {
    margin: 0;
    padding: 0.5rem 1rem;
}
.footer section,
.social {
    margin: 0;
    display: flex;
    justify-content: space-between;
    min-width: 15%;
    padding: 0.5rem 1rem;
}
.social li {
    list-style: none;
}
