.nav {
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 101;
    background-color: var(--background-color);
    border-radius: 0 0 1rem 1rem;
    padding: 0rem 2rem;
}
.modal {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1003;
    padding-bottom: 0;
}
@media (max-width: 768px) {
    .navLinks {
        background-color: transparent;
        position: absolute;
        bottom: 0vh;
        left: 0%;
        transform: translate(-0%, 100%);
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .navLinks li {
        color: var(--color);
        background-color: var(--secondary-focus) !important;
        border-radius: 0rem 1rem 1rem 0rem;
        padding: 0.5rem 1rem;
    }
    .navLinks li a {
        border-radius: 0rem 1rem 1rem 0rem;
        padding: 1rem 2rem;
    }
}
.navLinks li a {
    padding: 0.5rem 1rem;
    background-color: none;
}
/*
.active {
     background-color: var(--primary-focus);
    border: solid var(--background-color) 10px;
    border-top: none;
    border-right: 50%;
    border-radius: 1rem 1rem 11rem 11rem;
    transform: translate(0%, -40%); 
}
*/
.toTop {
    border: none;
    font-size: 1.5rem;
    width: 3rem;
    margin: 0;
    position: fixed;
    bottom: 5%;
    right: 0;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    z-index: 3;
}
.toTop:hover {
    transform: translate(-50%, -60%);
}
